.App {
    text-align: center;
    color: white;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: black;
    padding-top: 10rem;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Todo-header {
    /* border: 1px solid white; */
    width: 30%;
}

.Todo-header h1 {
    color: black;
}

.Todo-content {
    width: 40%;
}

.Todo-Add-Container {
    margin-top: 1rem;
}

.Todo-Col {
    color: black;
    font-size: 16px;
    border: 0.005rem solid #d9d9d9;
}

.Todo-Table {
    border: 0.005rem solid #d9d9d9;
}
